# root
/*

# dotfiles
.*

# include
!/include/

# res
!/res/

# src
!/src/

# files
!/.clang-format
!/.gitattributes
!/.gitignore
!/CMakeLists.txt
!/CONTROL
!/license.txt
!/portfile.cmake
!/readme.md
